body {
  background-image: url('../img/kosciol.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0a0a0a;
  margin: 0;
  padding: 0;
}


@media all and (max-resolution:300dpi){
	#menu-button {display: none;}
}


#container
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


iframe
{
  border: none;
  margin-top: 75px;
  width: 900px;
  height: 700px
}


.nav
{ 
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  opacity: 0.8;
  position: sticky;
  top: 0;
}


ol
{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 16px;
  height: 50px;
  line-height: 200%;
  display: inline-block;
}


ol a
{
  color: #0a0a0a;
  text-decoration: none;
  display: block;
}


ol > li
{
  float: left;
  width: 150px;
  height: 50px;
  border-right: 1px dashed #015883;
  text-decoration: none;
}


ol > li:first-child
{
  border-left: 1px dashed #015883;
}


ol > li:hover
{
  background-color: #fafafa;
}


ol > li:hover > a
{
  color: #0a0a0a;
}


ol > li > ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40px;
  display: none;
}


ol > li:hover > ul
{
  display: block;
}


ol > li > ul > li
{
  background-color:#fafafa;
  position: relative;
  z-index: 100;
  border-top: 1px dashed #015883;
}


ol > li > ul > li:hover
{
  background-color: #fafafa;
}


ol > li > ul > li:hover > a
{
	color: #0a0a0a;
}


.footer
{
  width: 100%;
  padding: 5px;
  background-color: #015883;
  text-align: center;
}