body {
  background-image: url('img/kosciol.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0a0a0a;
  margin: 0;
  padding: 0;
}


#container
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}


iframe
{
  border: none;
  margin: 75px;
  width: 900px;
  height: 700px
}


.nav
{ 
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  opacity: 0.8;
  position: sticky;
  top: 0;
}


.footer
{
  width: 100%;
  padding: 5px;
  background-color: #015883;
  text-align: center;
}


#menu-button {display: none;}
        #menu ol { padding: 0; margin: 0; list-style-type: none; font-size: 16px; height: 50px; line-height: 200%; display: inline-block; }
        #menu ol a { color: #0a0a0a; text-decoration: none; display: block; }
        #menu ol > li { float: left; width: 150px; height: 50px; border-right: 1px dashed #015883; }
        #menu ol > li:first-child { border-left: 1px dashed #015883; }
        #menu ol > li:hover { background-color: #fafafa; }
        #menu ol > li:hover > a { color: #0a0a0a;}
        #menu ol > li > ul { list-style-type: none; padding: 0; margin: 0; height: 40px; display: none; }
        #menu ol > li:hover > ul { display: block;}
        #menu ol > li > ul > li { background-color:#fafafa; position: relative; z-index: 100; border-top: 1px dashed #015883; }
        #menu ol > li > ul > li:hover { background-color: #fafafa; }
        #menu ol > li > ul > li:hover > a {	color: #0a0a0a; }
        
        @media screen and (min-width: 600px) {
            #menu {display: block !important;}
        }
        
        @media screen and (max-width: 600px) {
            #menu {display: none;}
            #menu li {width: 100%; padding: 2% 0;}
            #menu-button {display: block;}
        }


