body {
  background-image: url('img/kosciol.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0a0a0a;
  margin: 0;
  padding: 0;
}